.calculator {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    'display display display display'
    'clear clear divide multiply'
    'numpad numpad numpad subtract'
    'numpad numpad numpad add'
    'numpad numpad numpad equals'
    'numpad numpad numpad equals';

  width: 280px;

  background: black;
}
